.copywrite-footer {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.0rem;            /* Footer height */
  cursor: default;
  a {
    cursor: pointer;
    &:hover {
      color: #F15B26;
      text-decoration: none;
    }
  }
}
