.copywrite-footer {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  cursor: default;
  a {
    cursor: pointer;
    &:hover {
      color: #F15B26;
      text-decoration: none;
    }
  }
}
