a{
    text-decoration: none;
}
.navbarSection{
    margin: 0px;
    padding: 0px;
    display: block;
}
li{
    list-style: none;
}
.section{
    padding: 4 rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.icon{
    font-size: 2rem;
    cursor: pointer;
    color: black;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
}
/* .btn{
    padding: .6rem 1.5rem;
    
    border-radius: 3rem;
    border-color: #4A42EA;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
} */
/* .btn a{
    color: #4A42EA;
    font-weight: 500;
    &:hover{
        color: white;
        background-color: #4A42EA;
    }
}
.btn:hover{
    background-color: #4A42EA;
    
} */
.btn {
    /* background-image: linear-gradient(to right,hsl(187,
    85%, 43%),hsl(199, 100%, 33%)); */
    /* background-image: linear-gradient(to left, orange, red); */
    border-radius: 0.5rem;
    border: 2px solid #4A42EA; /* Initial button border color */
    background-color: white; /* Initial button background color */
    display: inline-block;
    padding: .6rem 1.5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transition effect for hover */
  }
  
  .btn a {
    color: #4A42EA; /* Initial text color */
    text-decoration: none;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: blue; /* Button background color on hover */
    /* border-color: white; Button border color on hover */
  }
  
  .btn:hover a {
    color: white; /* Text color on hover */
  }
img, video{
    width: 100%;
    height: auto;
}
input{
    font-size: 100%;
}
.logo{
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.flex_header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    @media screen and (max-width: 768px){
        .navBar{
            position: absolute;
            height: max-content;
            width: 60%;
            border-radius:0.5rem;
            top: -500rem;
            margin-top: -1rem;
            left: 50%;
            /* padding: 1rem; */
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15,29, 0.9);
            transition: .5s ease-in-out;

            .navLists{
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;
                .navItem{
                    padding: .5rem 0;
                    .navlink{
                        font-size: .9rem;
                        font-weight: 600;
                        color: #00156A;
                        &:hover{
                            color: #4A42EA;
                            text-decoration-line: underline;
                        }
                    }
                }
                .btn{
                    margin-top: 1rem;

                    a{
                        font-weight: 600;
                        /* color: whitesmoke; */
                    }
                }
            }
            .closeNavbar{
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: #00156A;
                &:hover{
                    color: #4A42EA;
                }
            }
        }
        .toggleNavbar{
            margin-top: 1rem;
            padding-bottom: 0.3rem;
            margin-right: -3rem;
        }
        .logo_section{
            .logo{
                .lepton_logo{
                    position: absolute;
                    height: 150px;
                    width: 150px;
                    margin-top: 1rem;
                    margin-left: 10rem;
                }
            }
        }
        .activenavbar{
            top: 7rem;
        }
    }
    .toggleNavbar{
        .icon{
            font-size: 25px;
            margin-right: 7rem;
        }
        &:hover.icon{
            color: aqua;
        }
    }
}

@media screen and (min-width: 769px) {
    .toggleNavbar,.closeNavbar{
        display: none;
    }
    .flex_header{
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 1rem;
                    .navlink{
                        font-size: 14px;
                        padding: 13px 2px;
                        color: #00156A;
                        &:hover{
                            text-decoration-line: underline;
                            color: #4A42EA;
                            
                        }
                    }
                }
                .btn{
                    margin-right: 2rem;
                }
            }
        }
        .logo_section{
            .logo{
                .lepton_logo{
                    position: absolute;
                    height: 200px;
                    width: 200px;
                    margin-top: 2rem;
                    margin-left: 12rem;
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .flex_header{
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 1rem;
                    .navlink{
                        font-size: 16px;
                        padding: 13px 10px;
                        color: #00156A;
                        &:hover{
                            text-decoration-line: underline;
                            color: #4A42EA;
                            
                        }
                    }
                }
                .btn{
                    margin-right: 6rem;
                }
            }
        }
        .logo_section{
            .logo{
                .lepton_logo{
                    position: absolute;
                    height: 250px;
                    width: 250px;
                    margin-top: 2rem;
                    margin-left: 15rem;
                }
            }
        }
    
}
@media screen and (min-width: 1200px) {
    .flex_header{
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 1rem;
                    .navlink{
                        font-size: 16px;
                        padding: 13px 20px;
                        color: #00156A;
                        &:hover{
                            text-decoration-line: underline;
                            color: #4A42EA;
                            
                        }
                    }
                }
                .btn{
                    margin-right: 6rem;
                }
            }
        }
        .logo_section{
            .logo{
                .lepton_logo{
                    position: absolute;
                    height: 300px;
                    width: 300px;
                    margin-top: 2rem;
                    margin-left: 15rem;
                }
            }
        }
    }
    
}